<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maning.ssm.mapper.TestMapper">
    <select id="findUser" resultType="map">
        select *from t_user
    </select>

    <!--<resultMap type="Student" id="StudentResult">-->
        <!--<id property="id" column="id"/>-->
        <!--<result property="name" column="name"/>-->
        <!--<result property="age" column="age"/>-->
        <!--<association property="address" column="addid" select="com.qbd.mapper.AddressMappers.findbyid">-->
        <!--</association>-->
        <!--<association property="grade" column="gid" select="com.qbd.mapper.GradeMappers.findbyid">-->
        <!--</association>-->
    <!--</resultMap>-->
    <update id="outMoney">
        UPDATE t_money SET t_money.cash = t_money.cash - ${money} where t_money.count = ${count}
    </update>

    <update id="inMoney">
        UPDATE t_money SET t_money.cash = t_money.cash + ${money} where t_money.count = ${count}
    </update>
</mapper>